@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light !important;
  background-color: white !important;
}

@keyframes onAutoFill {
  from {
  }
  to {
  }
}

input:-webkit-autofill {
  animation-name: onAutoFill;
  animation-duration: 1ms;
}

/* body {
    background-color: white; 
    color: black; 
  } */

/* input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
} */

.rbc-label {
  padding: 0 !important;
}

/* Make Transfer component responsive */
.ant-transfer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ant-transfer-list {
  min-width: 0; /* important to prevent overflow */
}

@media (max-width: 640px) {
  .ant-transfer {
    flex-direction: column; /* stack vertically on small screens */
  }
}

