@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light !important;
}

/* body {
    background-color: white; 
    color: black; 
  } */

 input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}
