@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light !important;
  background-color: white !important;
}

@keyframes onAutoFill {
  from {
  }
  to {
  }
}

input:-webkit-autofill {
  animation-name: onAutoFill;
  animation-duration: 1ms;
}

.rbc-label {
  padding: 0 !important;
}


